@model AccountVM
@{
    ViewData["Title"] = "Qeydiyyat/Giriş";
}

<!-- Register Start -->
<section id="Register">
    <div class="forms-container">
        <div class="signin-signup">
            <form method="post" asp-action="LoginP" class="sign-in-form">
                <h2 class="title">
                    Giriş
                </h2>
                <div asp-validation-summary="ModelOnly" class="errors alert alert-danger"></div>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input asp-for="LoginUsername" placeholder="Username">
                    <span class="text text-danger" asp-validation-for="LoginUsername"></span>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input asp-for="LoginPassword" placeholder="Şifrə">
                    <span class="text text-danger" asp-validation-for="LoginPassword"></span>
                </div>
                <div class="checkBox">
                    <input asp-for="IsChecked">
                    <span>Yadda saxla</span>
                </div>
                <button type="submit" class="bTn solid">Daxil ol</button>
            </form>

            <form asp-action="Register" method="post" class="sign-up-form">
                <h2 class="title">
                    Qeydiyyat
                </h2>
                <div asp-validation-summary="ModelOnly" class="errors alert alert-danger"></div>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input asp-for="Fullname" placeholder="Ad,Soyad">
                    <span class="text text-danger" asp-validation-for="Fullname"></span>
                </div>
                <div class="input-field">
                    <i class="fas fa-user"></i>
                    <input asp-for="RegisterUsername" placeholder="Username">
                    <span class="text text-danger" asp-validation-for="RegisterUsername"></span>
                </div>
                <div class="input-field">
                    <i class="fas fa-envelope"></i>
                    <input asp-for="Email" placeholder="Email">
                    <span class="text text-danger" asp-validation-for="Email"></span>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input asp-for="RegisterPassword" placeholder="Şifrə">
                    <span class="text text-danger" asp-validation-for="RegisterPassword"></span>
                </div>
                <div class="input-field">
                    <i class="fas fa-lock"></i>
                    <input asp-for="ConfirmPassword" placeholder="Şifrəni təsdiqlə">
                    <span class="text text-danger" asp-validation-for="ConfirmPassword"></span>
                </div>
                <button type="submit" class="bTn solid">Qeydiyyat</button>
            </form>

        </div>
    </div>
    <div class="panels-container">
        <div class="panel left-panel">
            <div class="content">
                <h3>Burada yenisiniz?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi odit corporis numquam.</p>
                <button class="bTn transparent" id="sign-up-btn">Qeydiyyat</button>
            </div>
            <img src="~/image/bookread.svg" class="image" alt="">
        </div>
        <div class="panel right-panel">
            <div class="content">
                <h3>Mövcud hesabınız var?</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi odit corporis numquam.</p>
                <button class="bTn transparent" id="sign-in-btn">Giriş</button>
            </div>
            <img src="~/image/shelves.svg" class="image" alt="">
        </div>
    </div>
</section>

<!-- Register End -->

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}
