@model IEnumerable<UserVM>
@{
	ViewData["Title"] = "Müştərilər";
}

<h2 style="text-align:center;font-weight:bold" class="mt-3">Müştərilər</h2>

<table class="mt-2 table table-striped">
	<thead>
		<tr>
			<th scope="col">Müştəri</th>
			<th scope="col">Səviyyə</th>
			<th scope="col">Detallar</th>
		</tr>
	</thead>
	<tbody>
		@foreach (UserVM user in Model)
		{
			<tr>
				<td>@user.Fullname</td>
				<td>@user.Role</td>
				<td>
					<a class="btn btn-info" asp-controller="Users" asp-action="Detail" asp-route-username="@user.Username">
						<i class="mdi mdi-clipboard"></i>
					</a>
					@if (User.Identity.Name.ToLower().Trim() != user.Username.ToLower().Trim())
					{
						<a class="ml-1 btn btn-danger" asp-controller="Users" asp-action="Block" asp-route-username="@user.Username">
							<i class="mdi mdi-block-helper"></i>
						</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>

