@model Publisher
@{
    ViewData["Title"] = "Nəşriyyat evini sil";
}

<div class="container">
    <h2 style="text-align:center;font-weight:bold" class="mt-3">Nəşriyyat evini sil</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Yazıçı</th>
                <th scope="col">Kitab sayı</th>
                <th scope="col">Sil</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Name</td>
                <td>@Model.BookCount</td>
                <td>
                    <form method="post" id="deletePublisher">
                        <button type="submit" class="btn btn-danger"><i class="mdi mdi-delete-forever"></i>Sil</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts{
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
		$("#deletePublisher").submit(function (e) {
			e.preventDefault();
			swal({
				title: "Nəşriyyat evi",
				text: "Bu nəşriyyat evini silmək istədiyinizdən əminsiniz?",
				icon: "warning",
				buttons: ["Bağla", "Sil"],
				dangerMode: true,
			})
				.then((willDelete) => {
					if (willDelete) {
						swal("Nəşriyyat evi silindi", {
							icon: "success",
						}).then(function () {
							setTimeout(() => document.querySelector("#deletePublisher").submit(), 100);
						})
					} else {
						swal("Nəşriyyat evi silinmədi");
						button: "Bağla"
					}
				});
		});
    </script>
}



