<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>


<body>

    <!-- Search Start -->
    <section id="Search">
        <div class="search">
            <div class="search-box">
                <i id="searchBtn" class="fas fa-search"></i>
                <i id="closeBtn" class="fas fa-arrow-right"></i>
                <form id="form" method="post">
                    <ul>
                        <li><input class="search-txt" type="search" placeholder="Axtarış..."></li>
                        <!-- <li class="searchLi"><a href="">Kitab</a></li>
                        <li class="searchLi"><a href="">Kitab</a></li>
                        <li class="searchLi"><a href="">Kitab</a></li>
                        <li class="searchLi"><a href="">Kitab</a></li>
                        <li class="searchLi"><a href="">Kitab</a></li> -->
                    </ul>
                    <button class="search-btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
        </div>
    </section>

    <!-- Search End -->
    <!-- Menu Start -->

    <header>
        <div class="container">
            <nav class="col row justify-content-between ">
                <div class="logo row col ">
                    <img style="width: 110px; height: 100px; " src="https://instagram.fgyd6-1.fna.fbcdn.net/v/t51.2885-19/s320x320/69421995_376737176356298_5022837868964347904_n.jpg?_nc_ht=instagram.fgyd6-1.fna.fbcdn.net&_nc_ohc=Wup20gIDwHQAX-BsiWa&oh=4b5691c03b305513c7fc9a920847c18a&oe=5F44C1BF "
                         alt=" ">
                </div>
                <div class="menu col">
                    <div class="login">
                        <a href="">
                            <i class="fas fa-sign-in-alt"></i>
                            <h6>Login</h6>
                        </a>
                    </div>
                    <div class="cart">
                        <a href="">
                            <i class="fas fa-shopping-basket"></i>
                        </a>
                        <sup>0</sup>
                    </div>
                    <span>Menu</span>
                    <i id="sandwich" class="fas fa-bars"></i>
                </div>
            </nav>
        </div>
        <div class="col-12 activeMenu">
            <div class="mainLeft col-md-12 d-flex">
                <div class="leftSide">
                    <ul class="navLeftUl ">
                        <li><a asp-controller="Home" asp-action="Index">Əsas səhifə</a></li>
                        <li><a asp-controller="NewBooks" asp-action="Index">Yenilər</a></li>
                        <li><a href="bestSellers.html">Çox satılanlar</a></li>
                        <li><a href="categories.html">Kategoriyalar</a></li>
                    </ul>

                </div>
                <div class="social">
                    <ul class="socialUl">
                        <li>
                            <a href="">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span><i class="fab fa-facebook-f"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span><i class="fab fa-instagram"></i></span>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <span></span>
                                <span></span>
                                <span></span>
                                <span></span>
                                <span><i class="fab fa-google-plus-g"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="mainRight col-md-12 d-flex justify-content-end ">
                <div class="rightSide">
                    <ul class="navRightUl">
                        <li><a href="publisher.html">Yayın evləri</a></li>
                        <li><a href="register.html">Qeydiyyat/Giriş</a></li>
                        <li><a href="contact.html">Əlaqə</a></li>
                    </ul>
                </div>
                <div class="about">
                    <p>Bakı</p>
                    <p>+33(0) 1 55 28 81 40 95,</p>
                    <p>Bd. Voltaire 75011 Bakı,</p>
                    <p>Azərbaycan</p>
                </div>
            </div>
            <i id="close" class="fas fa-times"></i>
        </div>
    </header>

    <!-- Menu End -->
    @RenderBody()

    <!-- Footer Start -->

    <footer id="Footer" style="background-color: whitesmoke;">
        <div class="container">
            <div class="footerNav">
                <div class="col-3 left">
                    <ul class="navUl">
                        <li><a href="">Əsas səhifə</a></li>
                        <li><a href="">Yenilər</a></li>
                        <li><a href="">Çox satılanlar</a></li>
                    </ul>
                </div>
                <div class="col-4 middle">
                    <div class="bakumoz">
                        <h2>Bakumoz</h2>
                    </div>
                    <div class="social">
                        <ul class="socialUl">
                            <li>
                                <a href="">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span><i class="fab fa-facebook-f"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span><i class="fab fa-instagram"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span><i class="fab fa-google-plus-g"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footerBorder">
                        <div class="first"></div>
                    </div>
                </div>
                <div class="col-3 right">
                    <ul class="navUl">
                        <li><a href="">Kategoriyalar</a></li>
                        <li><a href="">Haqqında</a></li>
                        <li><a href="">Əlaqə</a></li>
                    </ul>
                </div>
            </div>
            <div class="footerLogo">
                <div class="middle">
                    <div class="bakumoz">
                        <h2>Bakumoz</h2>
                    </div>
                    <div class="social">
                        <ul class="socialUl">
                            <li>
                                <a href="">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span><i class="fab fa-facebook-f"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span><i class="fab fa-instagram"></i></span>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span><i class="fab fa-google-plus-g"></i></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="footerBorder">
                        <div class="first"></div>
                    </div>
                </div>
                <div class="logo">
                    <img src="https://instagram.fgyd6-1.fna.fbcdn.net/v/t51.2885-19/s320x320/69421995_376737176356298_5022837868964347904_n.jpg?_nc_ht=instagram.fgyd6-1.fna.fbcdn.net&_nc_ohc=Wup20gIDwHQAX-BsiWa&oh=4b5691c03b305513c7fc9a920847c18a&oe=5F44C1BF " alt="">
                </div>
                <div class="since">
                    <small><Strong>©2020</Strong></small>
                </div>
            </div>
        </div>
    </footer>

    <!-- Footer End -->

    <script src="https://kit.fontawesome.com/9a2a6d18cc.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.js"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.js"></script>
    <script src="~/js/script.js"></script>
</body>

</html>
