@model IEnumerable<Author>
@{
	ViewData["Title"] = "Yazıçılar";
}
<div class="container">

	<h2 style="text-align:center;font-weight:bold" class="mt-3">Yazıçılar</h2>
	<a class="mt-2 mb-2 btn btn-success" asp-controller="Author" asp-action="Create">
		<i class="mr-1 mdi mdi-new-box"></i>Yeni yazıçı daxil et
	</a>
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Yazıçı</th>
				<th scope="col">Detallar</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Author author in Model)
			{
				<tr>
					<td>@author.Fullname</td>
					<td>
						<a class="btn btn-info" asp-controller="Author" asp-action="Edit" asp-route-id="@author.Id">
							<i class="mdi mdi-pencil"></i>
						</a>
						<a class="ml-1 btn btn-danger" asp-controller="Author" asp-action="Delete" asp-route-id="@author.Id">
							<i class="mdi mdi-delete-forever"></i>
						</a>
					</td>
				</tr>
			}
		</tbody>
	</table>

	<nav aria-label="..." class="d-flex justify-content-center">
		<ul class="pagination">
			@if (ViewBag.Page == 1 && ViewBag.PageCount > 1)
			{
				<li class="page-item" style="pointer-events:none;">
					<a style="background-color:#236bdf;color:white" class="page-link" href="/BakumozAdminPanel/Author?page=1">Birinci</a>
				</li>
			}
			else if (ViewBag.PageCount > 1)
			{
				<li class="page-item">
					<a class="page-link" href="/BakumozAdminPanel/Author?page=1">Birinci</a>
				</li>
			}
			@for (int i = 1; i <= ViewBag.PageCount; i++)
			{

				if (i == ViewBag.Page)
				{
					<li class="page-item current" style="pointer-events:none;"><a class="page-link" style="background-color:#236bdf;color:white" href="/BakumozAdminPanel/Author?page=@i">@i </a></li>
				}
				else
				{
					<li class="page-item">
						<a class="page-link" href="/BakumozAdminPanel/Author?page=@i">@i</a>
					</li>
				}
			}
			@if (ViewBag.Page == ViewBag.PageCount && ViewBag.PageCount > 1)
			{
				<li class="page-item" style="pointer-events:none;">
					<a style="background-color:#236bdf;color:white" class="page-link" href="/BakumozAdminPanel/Author?page=@ViewBag.PageCount">Sonuncu</a>
				</li>
			}
			else if (ViewBag.PageCount > 1)
			{
				<li class="page-item">
					<a class="page-link" href="/BakumozAdminPanel/Author?page=@ViewBag.PageCount">Sonuncu</a>
				</li>
			}

		</ul>
	</nav>
</div>

@section Scripts{
	<script>
		$(".pagination li").not($(".pagination li.current")).not($(".pagination li.current").prev()).not($(".pagination li.current").prev().prev()).not($(".pagination li.current").prev().prev().prev()).not($(".pagination li.current").next()).not($(".pagination li.current").next().next()).not($(".pagination li.current").next().next().next()).not($(".pagination li").first()).not($(".pagination li").last()).addClass("d-none")
	</script>
}