@model IEnumerable<Category>
@{
    ViewData["Title"] = "Kateqoriyalar";
}


<section id="saleBooks">
    <div class="container">
        <div class="row justify-content-center">
            <div class="content animate__animated animate__fadeInLeft col-lg-7 col-xs-12 col-12">
                <div class="title">
                    <h3>Endless Possibilities in a Single Theme!</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos esse, ex, natus nesciunt reiciendis fugit numquam velit quod </p>
                </div>
                <div class="options">
                    <div class="option">
                        <ul>
                            <li>Easy and fun to work with</li>
                            <li>Very customizable</li>
                            <li>Clean and secure code</li>
                            <li> New features added all the time</li>
                        </ul>
                    </div>
                    <div class="option">
                        <ul>
                            <li>Always up to date</li>
                            <li>Amazing demo templates</li>
                            <li>Responsive and mobile ready</li>
                            <li>Parallax support</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="image col-lg-5 col-xs-7 col-7">
                <img class="animate__animated animate__fadeInRight" src="~/image/kampanya.png" alt="">
            </div>
        </div>
    </div>
</section>

<!-- Category Start -->

<section class="CategoriesPage" data-parallax="scroll" data-image-src="image/elmi.jpg">
    <div class="mt-3 container">
        <div class="row justify-content-center">
            <div class="categories">
                @foreach (Category category in Model.OrderBy(c => c.Id).Where(c => c.Id > 11).Take(3))
                {
                    <a class="category" href="/NewBooks/?cslug=@category.Slug" style="background:url(../image/@category.ImagePath)"></a>
                }
            </div>
        </div>
    </div>
</section>
<section class="CategoriesPage" data-parallax="scroll" data-image-src="image/history.jpg">
    <div class="mt-3 container">
        <div class="row justify-content-center">
            <div class="categories">
                @foreach (Category category in Model.OrderBy(c => c.Id).Where(c => c.Id > 11).Skip(3).Take(3))
                {
                    <a class="category" href="/NewBooks/?cslug=@category.Slug" style="background:url(../image/@category.ImagePath)"></a>
                }
            </div>
        </div>
    </div>
</section>
<section class="CategoriesPage" data-parallax="scroll" data-image-src="image/classic.jpg">
    <div class="mt-3 container">
        <div class="row justify-content-center">
            <div class="categories">
                @foreach (Category category in Model.OrderBy(c => c.Id).Where(c => c.Id > 11).Skip(6).Take(3))
                {
                    <a class="category" href="/NewBooks/?cslug=@category.Slug" style="background:url(../image/@category.ImagePath)"></a>
                }
            </div>
        </div>
    </div>
</section>
<section class="CategoriesPage" data-parallax="scroll" data-image-src="image/journal.jpg">
    <div class="mt-3 container">
        <div class="row justify-content-center">
            <div class="categories">
                @foreach (Category category in Model.OrderBy(c => c.Id).Where(c => c.Id > 11).Skip(9).Take(3))
                {
                    <a class="category" href="/NewBooks/?cslug=@category.Slug" style="background:url(../image/@category.ImagePath)"></a>
                }
            </div>
        </div>
    </div>
</section>

<!-- Category End -->
