@model IEnumerable<Category>
@{
    ViewData["Title"] = "Kateqoriyalar";
}


<section id="saleBooks">
    <div class="container">
        <div class="row justify-content-center">
            <div class="content animate__animated animate__fadeInLeft col-lg-7 col-xs-12 col-12">
                <div class="title">
                    <h3>Endless Possibilities in a Single Theme!</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos esse, ex, natus nesciunt reiciendis fugit numquam velit quod </p>
                </div>
                <div class="options">
                    <div class="option">
                        <ul>
                            <li>Sürətli çatdırılma</li>
                            <li>Metrolara pulsuz çatdırılma</li>
                            <li>Türkiyədən kitab/dərgi sifarişi</li>
                            <li>Rayonlara poçtla göndərilmə</li>
                        </ul>
                    </div>
                    <div class="option">
                        <ul>
                            <li>Şəhər daxili çatdırılma</li>
                            <li>Sərfəli qiymətlər</li>
                            <li>Tam orijinal kitablar</li>
                            <li>Azərbaycanca kitablar</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="image col-lg-5 col-xs-7 col-7">
                <img style="width:86%;height:86%" class="animate__animated animate__fadeInRight" src="~/image/detailedInfoC.svg" alt="">
            </div>
        </div>
    </div>
</section>

<!-- Category Start -->

<section class="CategoriesPage" data-parallax="scroll" data-image-src="image/elmi.jpg">
    <div class="mt-3 container">
        <div class="row justify-content-center">
            <div class="categories">
                @foreach (Category category in Model.OrderBy(c => c.Id).Take(3))
                {
                    <a class="category" href="/NewBooks/?cslug=@category.Slug" style="background:url(../image/@category.ImagePath)"></a>
                }
            </div>
        </div>
    </div>
</section>
<section class="CategoriesPage" data-parallax="scroll" data-image-src="image/history.jpg">
    <div class="mt-3 container">
        <div class="row justify-content-center">
            <div class="categories">
                @foreach (Category category in Model.OrderBy(c => c.Id).Skip(3).Take(3))
                {
                    <a class="category" href="/NewBooks/?cslug=@category.Slug" style="background:url(../image/@category.ImagePath)"></a>
                }
            </div>
        </div>
    </div>
</section>
<section class="CategoriesPage" data-parallax="scroll" data-image-src="image/classic.jpg">
    <div class="mt-3 container">
        <div class="row justify-content-center">
            <div class="categories">
                @foreach (Category category in Model.OrderBy(c => c.Id).Skip(6).Take(3))
                {
                    <a class="category" href="/NewBooks/?cslug=@category.Slug" style="background:url(../image/@category.ImagePath)"></a>
                }
            </div>
        </div>
    </div>
</section>
<section class="CategoriesPage" data-parallax="scroll" data-image-src="image/journal.jpg">
    <div class="mt-3 container">
        <div class="row justify-content-center">
            <div class="categories">
                @foreach (Category category in Model.OrderBy(c => c.Id).Skip(9).Take(3))
                {
                    <a class="category" href="/NewBooks/?cslug=@category.Slug" style="background:url(../image/@category.ImagePath)"></a>
                }
            </div>
        </div>
    </div>
</section>

<!-- Category End -->

@section Scripts{
    <script src="~/js/parallax.min.js"></script>
}
