@model IEnumerable<Publisher>
@{
	ViewData["Title"] = "Yayın evləri";

	char[] alphabet = { 'a', 'b', 'c', 'ç', 'd', 'e', 'ə', 'f', 'g', 'h', 'x', 'i', 'j', 'k', 'q', 'l', 'm', 'n', 'o', 'ö', 'p', 'r', 's', 'ş', 't', 'u', 'ü', 'v', 'y', 'z' };
}


<!-- Publisher Start -->

<section id="Publisher">
	<div class="cover-photo parallax-window" data-parallax="scroll" data-image-src="image/parallaxBooks.jpg">
		<h1>Yayın evləri</h1>
	</div>
	<div class="publishers">
		<div class="container">
			@foreach (char letter in alphabet)
			{
				if (Model.Where(p => p.Name.ToLower().StartsWith(letter)).Count()!=0)
				{
					<div class="publishers-letter">
					<div class="letter">@letter.ToString().ToUpper()</div>
					<div class="publisher-wrapper">

						@foreach (Publisher publisher in Model.Where(p => p.Name.ToLower().StartsWith(letter)))
						{
						<div class="col-lg-3 col-md-4 col-md-4 col-sm-6 col-10 publisher">
							<a href="">@publisher.Name</a>
							@if (publisher.Discount != 0)
							{
								<div class="icon">
									<i class="fas fa-tags"></i>
									<span>@publisher.Discount%</span>
								</div>
							}
						</div>
						}
					</div>
				</div>
				}
			}
		</div>
	</div>
</section>

<!-- Publisher End -->
